<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- 
name = Имя, которое используется для ссылки на данный раздел в файле настройки.
type = Обработчик раздела настроек. Включает две секции: полный путь - пространство имен обработчика наших данных + имя самого обработчика, наименование сборки, где данный класс располагается.
-->
    <section name="StartupFiles" type="ServiceConfigurator.CustomSections.Files.StartupFilesConfigSection,ServiceConfigurator"/>
    <section name="UserServices" type="ServiceConfigurator.CustomSections.Services.UserServicesConfigSection,ServiceConfigurator"/>
    <section name="MasterDependencies" type="ServiceConfigurator.CustomSections.Dependencies.DependencyConfigSection,ServiceConfigurator"/>
  </configSections>
  <StartupFiles>
    <Files>
      <add fileType="xml-storage" path ="test.xml"/>
    </Files>
  </StartupFiles>
  <UserServices>
    <Services>
      <add type="master" name="Master_Service"/>
      <add type="slave" name="Slave_Service_1" ip ="127.0.0.1" port="2020"/>
      <add type="slave" name="Slave_Service_2" ip ="127.0.0.1" port="2021"/>
      <add type="slave" name="Slave_Service_3" ip ="127.0.0.1" port="2022"/>
      <add type="slave" name="Slave_Service_4" ip ="127.0.0.1" port="2023"/>
    </Services>
  </UserServices>
  <MasterDependencies>
    <MasterService name="Master_Service">
      <add name="Slave_Service_1" ip ="127.0.0.1" port="2020"/>
      <add name="Slave_Service_2" ip ="127.0.0.1" port="2021"/>
      <add name="Slave_Service_3" ip ="127.0.0.1" port="2022"/>
      <add name="Slave_Service_4" ip ="127.0.0.1" port="2023"/>
    </MasterService>
  </MasterDependencies>
  
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  
  <system.diagnostics>
    <trace autoflush="true"/>
    <sources>
      <source name="StorageSystem" switchValue="All">
        <listeners>
          <add name="Console"
            type="System.Diagnostics.ConsoleTraceListener">
          </add>
          <add name="textWriterListener"
            type="System.Diagnostics.TextWriterTraceListener"
            initializeData="LogInfo.txt"
               traceOutputOptions="ThreadId, ProcessId, DateTime"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="loggingSwitch" value="1"/>
    </switches>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>