<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IUserServiceContract" />
                <binding name="BasicHttpBinding_IUserServiceContract1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://127.0.0.1:8080/UserService/Master_Service"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserServiceContract"
                contract="ServiceReference1.IUserServiceContract" name="master" />
          <endpoint address="http://127.0.0.1:8080/UserService/Slave_Service_1"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserServiceContract"
                contract="ServiceReference1.IUserServiceContract" name="slave_1" />
          <endpoint address="http://127.0.0.1:8080/UserService/Slave_Service_2"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserServiceContract"
                contract="ServiceReference1.IUserServiceContract" name="slave_2" />
          <endpoint address="http://127.0.0.1:8080/UserService/Slave_Service_3"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserServiceContract"
                contract="ServiceReference1.IUserServiceContract" name="slave_3" />
          <endpoint address="http://127.0.0.1:8080/UserService/Slave_Service_4"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserServiceContract"
                contract="ServiceReference1.IUserServiceContract" name="slave_4" />

        </client>
    </system.serviceModel>
</configuration>