<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- 
name = Имя, которое используется для ссылки на данный раздел в файле настройки.
type = Обработчик раздела настроек. Включает две секции: полный путь - пространство имен обработчика наших данных + имя самого обработчика, наименование сборки, где данный класс располагается.
-->
    <section name="StartupFiles" type="ServiceConfigurator.CustomSections.Files.StartupFilesConfigSection,ServiceConfigurator"/>
    <section name="UserServices" type="ServiceConfigurator.CustomSections.Services.UserServicesConfigSection,ServiceConfigurator"/>
  </configSections>
  <StartupFiles>
    <Files>
      <add fileType="xml-storage" path ="D:\test.xml"/>
    </Files>
  </StartupFiles>
  <UserServices>
    <Services>
      <add type="master" count="1"/>
      <add type="slave" count ="2"/>
    </Services>
  </UserServices>
</configuration>