<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- 
name = Имя, которое используется для ссылки на данный раздел в файле настройки.
type = Обработчик раздела настроек. Включает две секции: полный путь - пространство имен обработчика наших данных + имя самого обработчика, наименование сборки, где данный класс располагается.
-->
    <section name="StartupFiles" type="ConfigGenerator.FileConfigurator.StartupFilesConfigSection,ConfigGenerator"/>
  </configSections>
  
  <!--<StartupFolders>
    <Folders>
      <add folderType="A" path="c:\foo" />
      <add folderType="B" path="C:\foo1" />
    </Folders>
  </StartupFolders>-->
  <StartupFiles>
    <Files>
      <add fileType="xml-storage" path ="D:\test.xml"/>    
    </Files>
  </StartupFiles>
</configuration>