<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- 
name = Имя, которое используется для ссылки на данный раздел в файле настройки.
type = Обработчик раздела настроек. Включает две секции: полный путь - пространство имен обработчика наших данных + имя самого обработчика, наименование сборки, где данный класс располагается.
-->
    <section name="StartupFiles" type="ServiceConfigurator.CustomSections.Files.StartupFilesConfigSection,ServiceConfigurator"/>
  </configSections>
  <appSettings>
    <add key="test" value="1"/>
  </appSettings>
  
  <StartupFiles>
    <Files>
      <add fileType="xml-storage" path ="D:\test.xml"/>    
    </Files>
  </StartupFiles>
  
  <system.diagnostics>
    <trace autoflush="true"/>
    <sources>
      <source name="StorageSystem" switchValue="All">
        <listeners>
          <add name="Console"
            type="System.Diagnostics.ConsoleTraceListener">
          </add>
          <add name="textWriterListener"
            type="System.Diagnostics.TextWriterTraceListener"
            initializeData="LogInfo.txt"
               traceOutputOptions="ThreadId, ProcessId, DateTime"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="loggingSwitch" value="1"/>
    </switches>
  </system.diagnostics>
</configuration>
<!--switchName="loggingSwitch"
        switchType="System.Diagnostics.SourceSwitch"-->