<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IUserServiceContract" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/MasterUserService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IUserServiceContract"
                contract="ServiceReference1.IUserServiceContract" name="BasicHttpBinding_IUserServiceContract" />
        </client>
    </system.serviceModel>
</configuration>